.progressbar {
  height: 50px;
  width: 250px;
  /* border: thick double black; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-image: url("./images/Stripes2.png");
  /* background-color: lightgrey; */
  border-radius: 10px;
}

.progressbarred {
  height: 50px;
  width: 168px;
  background-color: rgb(102, 187, 106);
  border-radius: 10px;
  animation: progressbarslidein 2s;
}

.container {
  display: flex;
  align-self: flex-end;
}

.mainPageWithoutButtons {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  height: 300px;
  width: 300px;
  background-size: cover;
  text-align: center;
  background-position: center;
  margin-top: 10px;
}

.paper {
  max-width: 60%;
  margin: auto;
  justify-content: center !important;
  padding: 10px;
}

.buttons {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.login-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: 40px auto;
  padding: 15px;
  max-width: 200px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  background-color: white;
  animation: slidein 2s;
  border-radius: 10px;
}
.login-title {
  display: flex;
  justify-content: center;
}

.fixed-container {
  width: 450px;
  display: fixed;
  margin-left: auto;
  margin-right: auto;
  margin: 40px auto;
  justify-content: space-between;
  padding: 15px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  background-color: white;
  animation: slidein 2s;
  border-radius: 10px;
}

.fixed-input-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 15px;
}

.fixed-selector {
  margin-top: 15px !important;
}

.fixed-title {
  text-align: center;
}

.buttons-at-login {
  display: flex;
  justify-content: space-between;
}

.status-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: 40px auto;
  max-width: 500px;
  padding: 20px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  background-color: white;
  border-radius: 10px;
}
.buttoncontainer {
  display: flex;
  justify-content: space-around;
}
body {
  background-color: #66bc6a;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.login-failed {
  padding-top: 10px;
  text-align: center;
}

.inputs-on-goalpage {
  padding: 10px;
}

.goal-container {
  padding-top: 10px;
}
.signup-button {
  display: flex;
  justify-content: center;
}
.signup-title {
  display: flex;
  justify-content: center;
}
.daily-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.weekof-container {
  display: flex;
  justify-content: center;
  border: solid darkgreen 1px;
  background: green;
  color: white;
}
.day-budget {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: solid green;
  margin: 5px 0px 5px 0px;
  background: floralwhite;
}
.day-budget-item {
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
}
.navbar-title {
  display: flex;
  justify-content: center;
  color: #66bc6a;
  font-family: "Bangers", cursive;
  font-size: 55px;
}

a:link {
  text-decoration: none;
}

@keyframes slidein {
  from {
    transform: translateX(-1500%);
  }
  /* 70% {
    transform: translateX(30%);
  } */
  to {
    transform: translateX(0%);
  }
}
.end-day {
  display: flex;
  justify-content: center;
  padding: 5px;
}
.end-submit {
  display: flex;
  justify-content: center;
}
.end-item {
  padding: 0 0 1px 0;
}
.var-submit {
  display: flex;
  justify-content: center;
}
.goal-items {
  display: flex;
  justify-content: center;
  font-size: 1.2em;
}
.fixed-item {
  display: flex;
  justify-content: center;
}
.exp-spent {
  stroke: rgb(255, 7, 7) !important;
  fill: rgba(239, 31, 31, 0.98) !important;
}
.exp-budget {
  stroke: #30b937 !important;
  fill: #35bb3b !important;
}

button {
  background-color: #66bc6a !important;
  color: white !important;
}

/* formating that turns inputs green after click */
.MuiInput-underline-89:after {
  border-bottom: 2px solid rgb(60, 182, 60) !important;
}
/* formating that turns inputs green after click */
.MuiFormLabel-root-78.MuiFormLabel-focused-79 {
  color: #66bc6a !important;
}

.MuiFormControl-marginNormal-215 {
  margin-top: 1px !important;
  margin-bottom: 20px !important;
}

.MuiFormControl-marginNormal-163 {
  margin-top: 1px !important;
  margin-bottom: 20px !important;
}

div:after {
  border-color: rgb(60, 182, 60) !important;
}

label.MuiInputLabel-focused-* {
  color: rgb(60, 182, 60) !important;
}

.h2title {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 3px !important;
}

.piechart {
  justify-content: center;
  display: flex;
}

@keyframes progressbarslidein {
  from {
    width: 0%;
  }
}

@media (max-width: 500px) {
  .fixed-container {
    width: 300px;
  }
  .fixed-input-container {
    width: 235px;
  }
}
