.progressbar {
  height: 50px;
  width: 250px;
  border: thick double black;
  margin-left: auto;
  margin-right: auto;
      margin-top: 60%;
}

.progressbarred {
  height: 50px;
  width: 170px;
  background-color: red;
}

.container {
 display: flex;
 align-self: flex-end;
}

.mainPageWithoutButtons {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  height: 300px;
  width: 300px;
  background-size: cover;
  text-align: center;
  background-position: center;
  margin-top: 10px;
}

.paper {
  max-width: 60%;
  margin: auto;
  justify-content: center !important;
  padding: 10px;
}

.buttons {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
}

.login-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: 20px auto;
  padding: 10px;
  max-width: 200px;
  /* border-style: outset; */
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  background-color: floralwhite;
}
.login-title{
  display:flex;
  justify-content: center;
}

.buttons-at-login {
  display: flex;
  justify-content: space-between;
}

.status-container{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}
.status-buttons{
  display: flex;
  justify-content: space-evenly;
}
body {
  background-color: lightgray;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.login-failed{
  padding-top: 10px;
  text-align: center;
}

.inputs-on-goalpage{
  padding: 10px
}

.goal-container{
  padding-top: 10px
}
.signup-button{
  display: flex;
  justify-content: center;
}
.signup-title{
  display: flex;
  justify-content: center;
}
.daily-container{
  display: flex;
  flex-flow: column;
  justify-content: center;
 
}
.weekof-container{
  display: flex;
  justify-content: center;
  border: solid darkgreen 1px;
  background: green;
  color: white;
}
.day-budget{
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: solid green;
  margin: 5px 0px 5px 0px;
  background: floralwhite;
}
.day-budget-item{
  display: flex;
  justify-content: center;
}
.navbar-title{
  display: flex;
  justify-content: center;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@keyframes slidein{
  from{transform:translateX(-2000%)}
  70%{transform:translateX(70%)}
  to{transform:translateX(0%)}
  }   
  

/* also add the animation tag to  */