.progressbar {
  height: 50px;
  width: 250px;
  border: thick double black;
  margin-left: auto;
  margin-right: auto;
}

.progressbarred {
  height: 50px;
  width: 170px;
  background-color: red;
}

.container {
  position: relative;
}

.mainPageWithoutButtons {
  background-repeat: no-repeat;
  height: 300px;
  width: 300px;
  background-size: cover;
  text-align: center;
}

.paper {
  max-width: 60%;
  margin: auto;
  justify-content: center !important;
  padding: 10px;
}
